.tabs {

  .react-tabs {
    width: 100%;
  }

  .tab-heads {
    width: 100%;
    height: 63px;
    background-color: #e5e6ff;
    display: flex;
    padding: 0 7%;

    ul[class*='react-tabs__tab-list'] {
      border-bottom: none;
    }

    li[class*='react-tabs__tab'] {
      border: none;
      padding: 15px;
      top: 4px;
      font-size: 16px;
      font-weight: 600;
    }

    li[class*='react-tabs__tab'][aria-selected="true"] {
      color: #686bfc;
      background-color: #e5e6ff;
      border-bottom: 2px solid #686bfc;
    }

    .helpline {
      width: 205px;
      height: 44px;
      font-family: OpenSans, serif;
      font-size: 16px;
      font-weight: 600;
      text-align: right;
      color: #1e1f5d;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      align-self: center;
    }
  }

  .tab-panels {
    margin: 2% 7% 0 7%;
  }
}
