.cluster-accordion-item {
  border-radius: 4px;
  border: solid 1px #cbcbd6;
  background-color: #fdfdff;
  margin: 20px;
}

.accordion__heading {
  padding: 15px;
  position: relative;
  user-select: none;
}

.accordion__button:after {
  content: url('../../../assets/path.svg');
  position: absolute;
  top: 15px;
  right: 20px;
}
