.cluster-body-container {
  height: 350px;
  overflow: hidden;

  .cases-info-container {
    width: 25%;
    float: left;
    border-top: 1px solid #cbcbd6;;
    border-right: 1px solid #cbcbd6;
    height: 100%;
  }

  .network-graph-container {
    width: 75%;
    overflow: hidden;
    height: 100%;
  }
}
