.cluster-body-container {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 0.25fr auto;
  grid-template-rows: 350px;

  .cases-info-container {
    border-top: 1px solid #cbcbd6;
    border-right: 1px solid #cbcbd6;
  }

  .network-graph-container {
  }
}
