

.create-content{
  .box {
    .form {
      .submit-btn {
        margin-left: 34%;
      }
    }
  }
}
.buttons-footer {
    display: flex;
}

.exrnbV {
    right: 150px;
    width: 350px;
}

div.exrnb {
    right: 150px;
    width: 350px;
    > .create-content{
        .box {
            border-radius: 12px;
          .form {
            .submit-btn {
              margin-left: 34%;
            }
          }
        }
      }
}