.cases-list-container {
  overflow: auto;
  overflow-y: scroll;
  height: calc(100% - 136px);
  margin-top: 15px;

  .case-item {
    padding: 10px 20px;
    border-bottom: solid 1px #cbcbd6;

    .case-header {
      display: flex;
      justify-content: space-between;

      .case-header-details {
        flex-grow: 100;
        cursor: pointer;
        img {
          transition: all 300ms;
          &.open {
            transform: rotate(90deg);
          }
        }
        .case-id {
          margin-left: 15px;
          height: 22px;
          font-family: OpenSans;
          font-size: 16px;
          font-weight: bold;
        }
      }

      .case-header-controls {
        display: flex;

        > img {
          margin-left: 15px;
        }
      }
    }

    .case-details {

      .case-details-table {
        margin: 7.5px 0;
        display: flex;
        border-collapse: separate;
        border-spacing: 0 10px;

        tr {
          margin-bottom: 10px;

          .label {
            width: 40%;
            min-width: 100px;
            font-weight: normal;

            &:after {
              content: ":";
            }
          }

          .fieldValue {
            font-family: OpenSans;
            font-weight: 600;
            white-space: normal;
          }
        }
      }
    }
  }
}
